snippet iferr
if err != nil {
	$1
}
endsnippet

snippet lerr
if err != nil {
	log.Fatal(err)
}
endsnippet

snippet gin
r.${1:GET}("/$2", func(c *gin.Context) {
	$0
})
endsnippet

snippet print
fmt.Println("$1")
endsnippet
